.learning-page {
    .hero {
        height: 77vh;

        .learning-hero-image {
            position: absolute;
            right: 2rem;
            bottom: 0;
            width: 800px;
            object-fit: cover;
            transform: rotateY(180deg);
        }
    }

    .third-section {
        display: flex;
        gap: 3rem;
    }
    .fourth-section {
        margin-bottom: 6rem;
    }
    .fith-section {
        .text-box {
            padding: 2rem 0 0;
        }
        .unordered-list {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;
            padding: 0 2rem 1rem;
            font-weight: 600;
            ul {
                width: 50%;
                list-style: none;
            }
        }
        .about-image {
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
            opacity: 0.4;
            z-index: -1;
            object-fit: cover;
        }
        .timetable {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            justify-content: center;
            .morning {
                max-width: 600px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: var(--box);
                }
            }
            .afternoon {
                width: 400px;
                margin-bottom: 6rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: var(--box);
                }
            }
            .morning,
            .afternoon {
                border: 3px solid var(--primary);
                border-radius: 15px;
                box-shadow: var(--button-shadow);
                background: #fff;
                cursor: pointer;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 1rem;
                    li {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .learning-page {
        .hero {
            .learning-hero-image {
                right: 0rem;
                width: 550px;
            }
        }
        .third-section {
            display: flex;
            flex-direction: column;
            gap: 0rem;
        }

        .fourth-section {
            margin-bottom: 4rem;
        }

        .fith-section {
            .unordered-list {
                gap: 0rem;
                padding: 0 1rem 1rem;
        
                ul {
                    width: 100%;
                    list-style: initial;
                }   
            }
            .about-image {
                position: absolute;
                left: 0;
                width: 100%;
                height: 100vh;
                opacity: 0.4;
                z-index: -1;
                object-fit: cover;
            }

            .timetable {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                align-items: flex-end;
                justify-content: center;
                z-index: 1;

                .morning {
                    max-width: 600px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.01);
                        box-shadow: var(--box);
                    }
                }

                .afternoon {
                    width: 400px;
                    margin-bottom: 4rem;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.01);
                        box-shadow: var(--box);
                    }
                }

                .morning,
                .afternoon {
                    border: 3px solid var(--primary);
                    border-radius: 15px;
                    box-shadow: var(--button-shadow);
                    background: #fff;
                    cursor: pointer;

                    ul {
                        list-style: none;
                        width: 80%;
                        margin: 0;
                        padding: 1rem;

                        li {
                            margin-bottom: 1rem;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }   
    }
}