.policy-page {
    .hero {
        height: 77vh;
        .policy-img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 600px;
            height: auto;
            object-fit: cover;
            pointer-events: none;
        }
    }
    .second-section {
        padding-top: 4rem;
        .document-list {
            display: flex;
            padding: 2rem 0;
            ul {
                padding-left: 1rem;
                li {
                   margin: 0.5rem;
                   padding-left: 1rem;
                a {
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                    transition: color 0.3s ease-in-out;
                    &:hover {
                        color: var(--primary);
                    }
                }
            }
            }
        }
    }
}
@media screen and (max-width: 768pX) {
    .policy-page {
        .hero {
            .policy-img {
                position: initial;
                align-self: flex-end;
                width: 450px;
            }
        }

        .second-section {
            .document-list {
                display: flex;
                flex-direction: column;
                padding: 2rem 0;

                ul {
                    padding-left: 0.5rem;
                }
            }
        }
    }
}