.app {
  font-family: "Nunito", sans-serif;
  font-display: swap;
  .error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
    font-size: 2rem;
  }
  .home-page,
  .about-page,
  .contact-page,
  .gallery-page,
  .learning-page,
  .policy-page {
    padding: 10rem 4rem;
    
    h1 {
      font-size: 4rem;
      font-weight: 500;
      margin: 0;
    }
    h2 {
      font-size: 3rem;
      margin: 0;
    }
    h3 {
      font-size: 2rem;
      margin: 0;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.125rem;
      margin: 0.5rem 0;
    }
    .subtitle {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      font-family: "Nunito", sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--primary);
      animation: fadeInUp 0.2s 0.3s backwards;
    }
    .indent {
      width: 2rem;
      height: 2px;
      background: var(--primary);
      border-radius: 5px;
    }
    .text-box {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 0.5rem;
      width: 50%;
    }
    .anim {
      animation: fadeIn 1.5s forwards;
      .cards-container {
        .card {
          animation: fadeInUp 0.6s backwards;
        }

        @for $i from 1 through 10 {
          .card:nth-child(#{$i}) {
            animation-delay: #{0.4s + ($i * 0.2s)};
          }
        }
      }
    }
    .none {
      opacity: 0;
    }
    .hero {
      display: flex;
      flex-direction: column;
      animation: fadeIn 0.5s forwards;
      .hero-image {
        align-self: center;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
.back-to-top {
  position: fixed;
  display: flex;
  gap: 1rem;
  bottom: 2rem;
  left: 1rem;
  padding: 10px;
  margin: 0;
  background: var(--primary);
  color: #fff;
  font-size: 1rem;
  border-radius: 15px;
  width: fit-content;
  height: auto;
  border: none;
  box-shadow: var(--button-shadow);
  z-index: 999;
  cursor: pointer;
  animation: fadeInUp 2s;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--footer);
    box-shadow: var(--box);
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .app {
    .home-page,
    .about-page,
    .contact-page,
    .gallery-page,
    .learning-page,
    .policy-page {
      padding: 6rem 2rem 0;

      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 32px;
      }

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      .subtitle {
        font-size: 16px;
      }

      .indent {
        width: 1rem;
        height: 2px;
        background: var(--primary);
        border-radius: 5px;
      }
      .hero {
        height: 100vh;
        justify-content: space-between;
        .hero-image {
            max-width: 100%;
            align-self: center;
            height: auto;
            object-fit: cover; }
      }

      .text-box {
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  .back-to-top {
    position: fixed;
    display: flex;
    gap: 1rem;
    bottom: 2rem;
    left: 1rem;
    padding: 10px;
    margin: 0;
    background: var(--primary);
    color: #fff;
    font-size: 1rem;
    border-radius: 15px;
    width: fit-content;
    height: auto;
    border: none;
    box-shadow: var(--button-shadow);
    z-index: 999;
    cursor: pointer;
    animation: fadeInUp 2s;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: var(--footer);
      box-shadow: var(--box);
      color: #fff;
    } 
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .app {

    .home-page,
    .about-page,
    .contact-page,
    .gallery-page,
    .learning-page,
    .policy-page {
      padding: 10rem 4rem 0;

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.75rem;
      }

      p {
        font-size: 1rem;
      }

      .subtitle {
        font-size: 1rem;
        gap: 1rem;
      }

      .indent {
        width: 1.5rem;
      }

      .text-box {
        width: 70%;
        padding-bottom: 2rem;
      }

      .hero {
        flex-direction: column;
        justify-content: space-between;
        .hero-image {
          width: 1024px;
          height: auto;
        }
      }
    }

    .back-to-top {
      left: 1rem;
      bottom: 1.5rem;
      font-size: 0.875rem;
      padding: 8px 10px;
      gap: 0.5rem;
    }
  }
}