.cta {
  display: flex;
  justify-content: space-around;
  margin: 4rem 5.6rem;
  padding: 2rem 1rem;
  border-radius: 15px;
  box-shadow: var(--box);
  background: var(--primary);
  color: #fff;
  .cta-container {
    max-width: 50%;
    .cta-title {
      margin: 0;
    }
  }
  .btn-container {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .cta {
    flex-direction: column;
    gap: 1rem;
    margin: 2em 0;
    padding: 2rem;
    .text-container {
      max-width: 100%;
      .cta-title {
        padding: 1rem 0;
        font-size: 1.5rem;
      }
      .cta-p {
        margin: 0rem;
        padding: 0rem;
        font-size: 14px;
      }
    }
    .btn-container {
      padding-bottom: 1rem;
    }
  }
}
