.flip {
    flex-direction: column;
    .text-box {
      width: fit-content !important;
    }
    img.blur-img {
      overflow: hidden;
      transition: all 0.5s ease;
        &:hover {
          transform: scale(1.4);
          padding: 1rem 2rem 1rem 0rem;
        }
    }
  }
.text-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0;
  cursor: pointer;
  .text-box {
    flex: 1;
  }

  img.blur-img {
    flex: 1;
    width: 600px;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    filter: brightness(1.1);
    
    -webkit-mask-image:
      linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%),
      linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%),
      linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
      -webkit-mask-composite: destination-in;
      mask-image:
          linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%),
          // top fade
          linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%),
          // bottom fade
          linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%),
          // right fade
          linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
    mask-composite: intersect;
    /* fallback for Safari */
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
    
  }

  &.reverse {
    flex-direction: row-reverse;
  }
   

  @media screen and (max-width: 768px) {
    .flip {
        img.blur-img {
          &:hover {
            transform: scale(1);
            padding: initial;
          }
        } 
      }
    .text-image-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 0;
    }
    img.blur-img {
      flex: 1;
      width: 350px;
      max-height: 350px;
    }
    

    &.reverse {
      flex-direction: column;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flip {
  
      img.blur-img {
  
        &:hover {
          transform: scale(1);
          padding: initial;
        }
      }
    }
  
    .text-image-wrapper {
      gap: 1rem;
      padding: 2rem 0;
  
      img.blur-img {
        flex: 1;
        width: 400px;
        max-height: 500px;
      }
  
    }
}
