.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  padding: 4rem;
  .card-image {
      width: 280px;
      height: 350px !important;
      object-fit: cover;
    }
  .card {
    background: var(--primary);
    border-radius: 15px;
    box-shadow: var(--button-shadow);
    padding: 10px;
    width: 300px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--box);
    }
    &:nth-child(2) {
      background: var(--secondary);
    }
    h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      color: #fff;
    }

    p {
      font-size: 1rem;
      color: #fff;
    }

    .card-image {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  }
}
@media screen and (max-width: 768px) {
  .cards-container {
    gap: 1rem;

    .card-image {
      height: 300px !important;
    }

    .card {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    } 
  }
}
