.image-gallery-slide img {
    max-width: 100% !important;
    max-height: 500px !important;
    object-fit: contain !important;
    margin-top: 2rem;
}

.image-gallery-svg {
    &:hover {
        color: var(--primary) !important;
    }
}

.image-gallery-thumbnail img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image-gallery-thumbnail {
    &:hover {
        border-color: var(--primary) !important;
    }

    &.active {
        border-color: var(--primary) !important;
    }
}